<mat-accordion>
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        About this application
      </mat-panel-title>
      <mat-panel-description>
        Author: Scott Lee, leesungki&#64;gmail.com
      </mat-panel-description>
    </mat-expansion-panel-header>
    <h4>Main Features</h4>
    <p>This application was developed for landlord who own multiple condo rental properties. 
    </p>
    <ul>
      <li>Search property - You can search or select a property to look up from search bar or side menu or main 
        carousal slider. Property page shows detail information on this property from address, TSCC, Purchase date, 
        price, current lease term
      </li>
      <li>Attach documents - You can upload any documents related to your property. </li>
      <li>Tenants - Tenant page by property shows tenant contacts and file upload field for you to upload lease related documents
      </li>
      <li>Expenses - Each property incurs own expense. Expense page provide ability to search and select specific month or year for expense
        You can update and export into csv file as well as import csv form of expenses into your expense page
      </li>
      <li>Email notification - This application will send email to loandlord/owner on lease ending property</li>
    </ul>
    <h4>Local Environment Setup</h4>
    <p>You can run this application on your personal computer. This is the list you need to install</p>
    <ul>
      <li>
        MS SQL Server v2022 with SSMS v16
      </li>
      <li>NodeJS v 20.11.1</li>
      <li>Angular v 17</li>
      <li>Github</li>
    </ul>
    <h4>Installation</h4>
    <p>You need to create new database with tables and clone source code from <a href="">here</a>.
      <a href="https://github.com/rojaware/condo"></a> https://github.com/rojaware/condo</p>
    <ul>
      <li>You should create initial tables in your SQL server database. </li>
      <li>
        From your command you can clone code <q>git clone https://github.com/rojaware/condo</q>
      </li>
      <li>For example you clone to c:\dev\condo, there are two directories - ui and api</li>
      <li>Start API by entering <q>npm run api</q> </li>
      <li>Start UI by entering <q>npm run ui</q> </li>
      <li>Open browser (Edge or Chrome) and enter <q>http://localhost:4200</q> </li>
    </ul>
    
  </mat-expansion-panel>
  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Upcoming Lease Ending Dates by Property
      </mat-panel-title>
      <mat-panel-description>
        Currently I am {{panelOpenState ? 'open' : 'closed'}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    
      <!-- Table for label dictionary -->
      <table mat-table [dataSource]="dataSource">
        <ng-container [matColumnDef]="col.key" *ngFor="let col of columnsSchema">
          
          <th mat-header-cell 
              *matHeaderCellDef 
              [ngSwitch]="col.key" 
              [ngClass]="col.key === 'endDate' ? 'highlighted' : ''">
            <span *ngSwitchDefault > {{ col.label }}</span>
          </th>
          <!-- check box for selection -->    
          <td mat-cell *matCellDef="let element">
            <!-- View mode -->
            <div [ngSwitch]="col.type" >
              <span *ngSwitchDefault [ngClass]="col.key === 'endDate' ? 'highlighted' : ''" >
                {{ element[col.key] }}
              </span>
            </div>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>      
    
  </mat-expansion-panel>
</mat-accordion>
