/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
.error {
  color: #ba3939;
  background: #ffe0e0;
  border: 1px solid #a33a3a;
}
.mat-mdc-row:nth-child(odd) {
  background-color: #FFFFFF;
}

.mat-mdc-row:nth-child(even) {
  background-color: #F8F8F8;
}

.mat-mdc-row:hover{
  background-color: #87CEEB !important;
}