/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
.error {
  color: #ba3939;
  background: #ffe0e0;
  border: 1px solid #a33a3a;
}