.example-month-picker .mat-calendar-period-button {
  pointer-events: none;
}

.example-month-picker .mat-calendar-arrow {
  display: none;
}

.edit-form {
  margin: inherit;
}
.form-group {
  display: flex;
}
.edit-form-field {
  width: -webkit-fill-available;
  margin-bottom: -2em;
  padding-right: 10px;
}
.button-space {
  padding-right: 10px;
}
div.demo {
    display: table;
    width: 100%;
    table-layout: fixed;    /* For cells of equal size */
}
div.demo span {
    display: table-cell;
    
}
.right_header {
  color: #461212;
  position: absolute;
  right: 310px;
}
span label {
  font-weight: bold;
}
.form-group {
  display: flex;
  margin-top: 1rem;
}
.example-button-row button,
.example-button-row a {
  margin-right: 8px;
  margin-left: 8px;
}

.example-disabled {
  display: inline-block;
}

.mdc-data-table__cell {  
  text-align: right !important;
}
.mdc-data-table__cell, .mdc-data-table__header-cell {
  padding: 0 1px 0 1px !important;  
}
.mat-mdc-cell {
  border: 1px solid hsl(76, 49%, 68%) !important;
}
.demo-table {
  width: 100%;
}
.mat-column-month {
  width: 32px;
  border-right: 1px solid  hsl(76, 49%, 68%) ;
  font-style: italic;
  text-align: center;
}
.mat-column-income {
  
  font-weight: bold;
  text-align: right;
}
.mat-column-totalExpense {  
  font-weight: bold;
  text-align: right;
  color:#461212;
  font-style: italic;
}
.mat-column-netIncome {  
  font-weight: bold;
  text-align: right;
  font-style: italic;
}
.container {
  max-width: 1540px !important;
}

