<div class="form-group">

  <!-- calendar -->
  <mat-form-field>
    <mat-label>Month and Year</mat-label>
    <input matInput [matDatepicker]="dp" [formControl]="date">
    <mat-hint>MM/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="dp"></mat-datepicker-toggle>
    <mat-datepicker #dp startView="multi-year" (yearSelected)="setYear($event)"
      (monthSelected)="setMonthAndYear($event, dp)" panelClass="example-month-picker">
    </mat-datepicker>
  </mat-form-field>

  <!-- retrieve expense buttons -->
  <div class="example-button-row" *ngIf="year">
    <button mat-raised-button color="primary" (click)="getByMonth()">Retrieve {{ month | monthname }}</button>
    <button mat-raised-button color="accent" (click)="getByYear()">Retrieve {{ year }}</button>
  </div>

</div>

<p *ngIf="!year || (currentExpense && currentExpense.propertyName !== config.user.property.name)">
  Select year and month for {{ config.user.property.name }} ...
</p>

<!-- show monthly expense entry -->
<div class="edit-form" *ngIf="currentExpense && currentExpense.propertyName !== config.user.property.name">
  <div style="display: flex">
    <h4 class="button-space">{{ currentExpense.propertyName | uppercase }} <span>{{ month | monthname }}</span> {{ year
      }} </h4>
    @if (viewMode) {
    <button class="badge badge-warning " (click)="viewMode = false">
      <mat-icon>edit</mat-icon>
    </button>
    } @else {
    <button class="badge badge-warning " (click)="viewMode = true">
      <mat-icon>remove_red_eye</mat-icon>
    </button>
    }

  </div>

  <form style="height: 300px;">
    <!-- Income -->
    <div class="form-group">
      <mat-form-field class="edit-form-field">
        <mat-label>Monthly Income</mat-label>
        <input id="income" matInput [(ngModel)]="currentExpense.income" name="income" [readonly]="viewMode" />
      </mat-form-field>
    </div>
    <!-- travel, maintenance, commission, insurance -->
    <div class="form-group">
      <mat-form-field class="edit-form-field">
        <mat-label>Travel</mat-label>
        <input id="travel" matInput [(ngModel)]="currentExpense.travel" name="travel" [readonly]="viewMode" />
      </mat-form-field>
      <mat-form-field class="edit-form-field">
        <mat-label>Maintenance</mat-label>
        <input id="maintenance" matInput [(ngModel)]="currentExpense.maintenance" name="maintenance"
          [readonly]="viewMode" />
      </mat-form-field>
      <mat-form-field class="edit-form-field">
        <mat-label>Commissioni</mat-label>
        <input id="commission" matInput [(ngModel)]="currentExpense.commission" name="commission"
          [readonly]="viewMode" />
      </mat-form-field>
      <mat-form-field class="edit-form-field">
        <mat-label>Insurance</mat-label>
        <input id="insurance" matInput [(ngModel)]="currentExpense.insurance" name="insurance" [readonly]="viewMode" />
      </mat-form-field>
    </div>

    <!-- legal, managementFee, mortgageInterest, repairs -->
    <div class="form-group">
      <mat-form-field class="edit-form-field">
        <mat-label>Legal Fee</mat-label>
        <input id="legal" matInput [(ngModel)]="currentExpense.legal" name="legal" [readonly]="viewMode" />
      </mat-form-field>
      <mat-form-field class="edit-form-field">
        <mat-label>Management Fee</mat-label>
        <input id="managementFee" matInput [(ngModel)]="currentExpense.managementFee" name="managementFee"
          [readonly]="viewMode" />
      </mat-form-field>
      <mat-form-field class="edit-form-field">
        <mat-label>Mortgage Interest</mat-label>
        <input id="mortgageInterest" matInput [(ngModel)]="currentExpense.mortgageInterest" name="mortgageInterest"
          [readonly]="viewMode" />
      </mat-form-field>
      <mat-form-field class="edit-form-field">
        <mat-label>Repairs</mat-label>
        <input id="repairs" matInput [(ngModel)]="currentExpense.repairs" name="repairs" [readonly]="viewMode" />
      </mat-form-field>
    </div>

    <!-- supplies, tax, utilities, depreciation -->
    <div class="form-group">
      <mat-form-field class="edit-form-field">
        <mat-label>Supplies</mat-label>
        <input id="supplies" matInput [(ngModel)]="currentExpense.supplies" name="supplies" [readonly]="viewMode" />
      </mat-form-field>
      <mat-form-field class="edit-form-field">
        <mat-label>Tax</mat-label>
        <input id="tax" matInput [(ngModel)]="currentExpense.tax" name="tax" [readonly]="viewMode" />
      </mat-form-field>
      <mat-form-field class="edit-form-field">
        <mat-label>Utilities</mat-label>
        <input id="utilities" matInput [(ngModel)]="currentExpense.utilities" name="utilities" [readonly]="viewMode" />
      </mat-form-field>
      <mat-form-field class="edit-form-field">
        <mat-label>Depreciation</mat-label>
        <input id="depreciation" matInput [(ngModel)]="currentExpense.depreciation" name="depreciation"
          [readonly]="viewMode" />
      </mat-form-field>
    </div>

    @if (!viewMode) {
    <!-- show buttons for monthly entry -->
    <div class="form-group">
      <button type="submit" class="badge badge-secondary mr-2" (click)="viewMode = true" matTooltip="Cancel Changes">
        <mat-icon>cancel</mat-icon>
      </button>

      <button class="badge badge-danger mr-2" (click)="delete()" matTooltip="Delete Expense">
        <mat-icon>delete_forever</mat-icon>
      </button>

      <button type="submit" class="badge badge-success mb-2" (click)="save()" matTooltip="Save Expense">
        <mat-icon>save</mat-icon>
      </button>
    </div>
    }
  </form>
  <p>{{ message }}</p>
</div>



<!-- Import csv -->
<mat-card>
  <mat-card-header>
    <mat-card-title>Import CSV</mat-card-title>
    <mat-card-subtitle>
      <div class="csv-file-chooser-section">
        <input type="file" 
               #fileImportInput 
               name="File Upload" 
               id="csvFileUpload" 
               (change)="fileChangeListener($event)"
               accept=".csv" />
      </div>      
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-actions>
    <button mat-button>{{ this.message }}</button>
    
  </mat-card-actions>
</mat-card>
<br>

<!-- End of csv import -->
<mat-card>
  <mat-card-header>
    <mat-card-title>Table</mat-card-title>
    <mat-card-subtitle>

<!-- show annual expense table -->
<div id="annual-expense" *ngIf="expenses && expenses.length > 0">
  <!-- Filter -->
  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
  </mat-form-field>

  <!-- Content -->
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table" >

    <!-- Month Column -->
    <ng-container matColumnDef="month">
      <th mat-header-cell *matHeaderCellDef > Month </th>
      <td mat-cell *matCellDef="let element" > {{element.month | monthname }} </td>
      <!-- <td mat-cell *matCellDef="let element" > {{element.month | monthname}} </td> -->
    </ng-container>

    <!-- income Column -->
    <ng-container matColumnDef="income">
      <th mat-header-cell *matHeaderCellDef> Income </th>
      <td mat-cell *matCellDef="let element"> {{element.income | currency }} </td>
    </ng-container>

    <!-- travel Column -->
    <ng-container matColumnDef="travel">
      <th mat-header-cell *matHeaderCellDef> Travel </th>
      <td mat-cell *matCellDef="let element"> {{element.travel | currency }} </td>
    </ng-container>

    <!-- maintenance Column -->
    <ng-container matColumnDef="maintenance">
      <th mat-header-cell *matHeaderCellDef matTooltip="Maintenance fee"> Maint. </th>
      <td mat-cell *matCellDef="let element"> {{element.maintenance | currency }} </td>
    </ng-container>

    <!-- commission Column -->
    <ng-container matColumnDef="commission">
      <th mat-header-cell *matHeaderCellDef matTooltip="Commission paid agent"> Comm </th>
      <td mat-cell *matCellDef="let element"> {{element.commission | currency }} </td>
    </ng-container>

    <!-- insurance Column -->
    <ng-container matColumnDef="insurance">
      <th mat-header-cell *matHeaderCellDef> Insurance </th>
      <td mat-cell *matCellDef="let element"> {{element.insurance | currency }} </td>
    </ng-container>

    <!-- legal Column -->
    <ng-container matColumnDef="legal" matTooltip="Legal fee">
      <th mat-header-cell *matHeaderCellDef> Legal </th>
      <td mat-cell *matCellDef="let element"> {{element.legal | currency }} </td>
    </ng-container>

    <!-- managementFee Column -->
    <ng-container matColumnDef="managementFee">
      <th mat-header-cell *matHeaderCellDef matTooltip="Condo Management Fee"> Mgt Fee </th>
      <td mat-cell *matCellDef="let element"> {{element.managementFee | currency }} </td>
    </ng-container>

    <!-- mortgageInterest Column -->
    <ng-container matColumnDef="mortgageInterest">
      <th mat-header-cell *matHeaderCellDef matTooltip="Mortgage Interest Paid"> Mortgage <br>Interest </th>
      <td mat-cell *matCellDef="let element"> {{element.mortgageInterest | currency }} </td>
    </ng-container>

    <!-- repairs Column -->
    <ng-container matColumnDef="repairs">
      <th mat-header-cell *matHeaderCellDef> Repairs </th>
      <td mat-cell *matCellDef="let element"> {{element.repairs | currency }} </td>
    </ng-container>
    <!-- supplies Column -->
    <ng-container matColumnDef="supplies">
      <th mat-header-cell *matHeaderCellDef> Supplies </th>
      <td mat-cell *matCellDef="let element"> {{element.supplies | currency }} </td>
    </ng-container>

    <!-- tax Column -->
    <ng-container matColumnDef="tax">
      <th mat-header-cell *matHeaderCellDef matTooltip="Property Tax"> Tax </th>
      <td mat-cell *matCellDef="let element"> {{element.tax | currency }} </td>
    </ng-container>

    <!-- utilities Column -->
    <ng-container matColumnDef="utilities">
      <th mat-header-cell *matHeaderCellDef matTooltip="Utilities such as Hydro, Water, Gas"> Utilities</th>
      <td mat-cell *matCellDef="let element"> {{element.utilities | currency }} </td>
    </ng-container>

    <!-- totalExpense Column -->
    <ng-container matColumnDef="totalExpense">
      <th mat-header-cell *matHeaderCellDef> Total <br> Expense </th>
      <td mat-cell *matCellDef="let element"> {{element.totalExpense | currency }} </td>
    </ng-container>

    <!-- netIncome Column -->
    <ng-container matColumnDef="netIncome">
      <th mat-header-cell *matHeaderCellDef> Net <br> Income </th>
      <td mat-cell *matCellDef="let element"> {{element.netIncome | currency }} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
    </tr>
  </table>

</div>      
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-actions>
    <button mat-button>LIKE</button>
  </mat-card-actions>
</mat-card>
<br>



<pre>
  TODO <br>
  1. Read csv and save into database
  2. Download/Upload csv mat-form-field <br>
  3. Save/Update bulk rows (csv can be exempt)


</pre>