.example-month-picker .mat-calendar-period-button {
  pointer-events: none;
}

.example-month-picker .mat-calendar-arrow {
  display: none;
}

.edit-form {
  margin: inherit;
}
.form-group {
  display: flex;
}
.edit-form-field {
  width: -webkit-fill-available;
  margin-bottom: -2em;
  padding-right: 10px;
}
.button-space {
  padding-right: 10px;
}
div.demo {
    display: table;
    width: 100%;
    table-layout: fixed;    /* For cells of equal size */
}
div.demo span {
    display: table-cell;
    text-align: left;
}
.right_header {
  color: #461212;
  position: absolute;
  right: 310px;
}
span label {
  font-weight: bold;
}
