<div class="expense-form" id="expense">
<div class="form-group">

  <!-- calendar -->
  <mat-form-field>
    <mat-label>Month and Year</mat-label>
    <input matInput [matDatepicker]="datePicker" [formControl]="date">
    <mat-hint>MM/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="datePicker"></mat-datepicker-toggle>
    <mat-datepicker #datePicker 
                    startView="multi-year" 
                    (yearSelected)="setYear($event)"
                    (monthSelected)="setMonthAndYear($event, datePicker)" 
                    panelClass="example-month-picker">
    </mat-datepicker>
  </mat-form-field>

  <!-- retrieve expense buttons -->
  <div class="example-button-row" *ngIf="year">
    <button class="btn btn-success" (click)="getByMonth()">Retrieve {{ month | monthname }}</button>
    <button class="btn btn-primary" (click)="getByYear()">Retrieve {{ year }}</button>
  </div>
  
  <div class="example-button-row">
    <button class="btn btn-secondary"
            style="display:block;" 
            onclick="document.getElementById('csvFileUpload').click()">
            Import CSV</button>
 
    <input type="file" 
            #fileImportInput 
            name="File Upload" 
            id="csvFileUpload" 
            (change)="onFileSelected($event)"
            accept=".csv" 
            style="display:none"/>
  </div>      
  
</div>

<p *ngIf="!year || (currentExpense && currentExpense.propertyName !== config.user.property.name)">
  Select year and month for {{ config.user.property.name }} ...
</p>

<!-- Monthly Expense -->
<mat-card  *ngIf="this.currentExpense">
  <mat-card-header>
    <mat-card-title>Monthly Expense, {{ this.month | monthname}} </mat-card-title>
    <mat-card-subtitle>
      <div class="edit-form" *ngIf="currentExpense">

        <div style="display: flex">
          <h4 class="button-space">{{ currentExpense.propertyName | uppercase }} 
            <span>{{ month | monthname }}</span> 
            {{ date | json }}
          </h4>

          @if (viewMode) {
            <button class="badge badge-warning " (click)="onEditChanged()">
              <mat-icon>edit</mat-icon>
            </button>
          } @else {
            <button class="badge badge-warning " (click)="onEditChanged()">
              <mat-icon>remove_red_eye</mat-icon>
            </button>
          }
        </div>
        <!-- Monthly Expense Form -->
        <form >
          <!-- Income -->
          <div class="form-group">
            <mat-form-field class="edit-form-field">
              <mat-label>Monthly Income</mat-label>
              <input id="income" matInput [(ngModel)]="currentExpense.income" name="income" [readonly]="viewMode" />
            </mat-form-field>
          </div>
          <!-- travel, maintenance, commission, insurance -->
          <div class="form-group">
            <mat-form-field class="edit-form-field">
              <mat-label>Travel</mat-label>
              <input id="travel" matInput [(ngModel)]="currentExpense.travel" name="travel" [readonly]="viewMode" />
            </mat-form-field>
            <mat-form-field class="edit-form-field">
              <mat-label>Maintenance</mat-label>
              <input id="maintenance" matInput [(ngModel)]="currentExpense.maintenance" name="maintenance"
                [readonly]="viewMode" />
            </mat-form-field>
            <mat-form-field class="edit-form-field">
              <mat-label>Commissioni</mat-label>
              <input id="commission" matInput [(ngModel)]="currentExpense.commission" name="commission"
                [readonly]="viewMode" />
            </mat-form-field>
            <mat-form-field class="edit-form-field">
              <mat-label>Insurance</mat-label>
              <input id="insurance" matInput [(ngModel)]="currentExpense.insurance" name="insurance" [readonly]="viewMode" />
            </mat-form-field>
          </div>

          <!-- legal, managementFee, mortgageInterest, repairs -->
          <div class="form-group">
            <mat-form-field class="edit-form-field">
              <mat-label>Legal Fee</mat-label>
              <input id="legal" matInput [(ngModel)]="currentExpense.legal" name="legal" [readonly]="viewMode" />
            </mat-form-field>
            <mat-form-field class="edit-form-field">
              <mat-label>Management Fee</mat-label>
              <input id="managementFee" matInput [(ngModel)]="currentExpense.managementFee" name="managementFee"
                [readonly]="viewMode" />
            </mat-form-field>
            <mat-form-field class="edit-form-field">
              <mat-label>Mortgage Interest</mat-label>
              <input id="mortgageInterest" matInput [(ngModel)]="currentExpense.mortgageInterest" name="mortgageInterest"
                [readonly]="viewMode" />
            </mat-form-field>
            <mat-form-field class="edit-form-field">
              <mat-label>Repairs</mat-label>
              <input id="repairs" matInput [(ngModel)]="currentExpense.repairs" name="repairs" [readonly]="viewMode" />
            </mat-form-field>
          </div>

          <!-- supplies, tax, utilities, depreciation -->
          <div class="form-group">
            <mat-form-field class="edit-form-field">
              <mat-label>Supplies</mat-label>
              <input id="supplies" matInput [(ngModel)]="currentExpense.supplies" name="supplies" [readonly]="viewMode" />
            </mat-form-field>
            <mat-form-field class="edit-form-field">
              <mat-label>Tax</mat-label>
              <input id="tax" matInput [(ngModel)]="currentExpense.tax" name="tax" [readonly]="viewMode" />
            </mat-form-field>
            <mat-form-field class="edit-form-field">
              <mat-label>Utilities</mat-label>
              <input id="utilities" matInput [(ngModel)]="currentExpense.utilities" name="utilities" [readonly]="viewMode" />
            </mat-form-field>
            <mat-form-field class="edit-form-field">
              <mat-label>Depreciation</mat-label>
              <input id="depreciation" matInput [(ngModel)]="currentExpense.depreciation" name="depreciation"
                [readonly]="viewMode" />
            </mat-form-field>
          </div>
          <!-- comment -->
          <div class="form-group">
            <mat-form-field class="edit-form-field">
              <mat-label>Comment</mat-label>
              <textarea id="comment" matInput [(ngModel)]="currentExpense.comment" name="comment" [readonly]="viewMode" ></textarea>
            </mat-form-field>
          </div>

          <!-- Button , Cancel, Delete, Save -->
          <div *ngIf="!viewMode" class=" form-group button-space">
            <div class="col-3">
              <button class="btn btn-info" (click)="viewMode = true" matTooltip="Cancel Changes">
                Cancel
              </button>           
            </div>
            <div class="col-3">
              <button class="btn btn-danger" (click)="delete()" matTooltip="Delete Expense">
                Delete
              </button>     
            </div>
            <div class="col-3">
              <button type="submit" 
                      class="btn btn-success" 
                      (click)="save()" 
                      matTooltip="Save Change">
                Save Change
              </button>      
            </div>
            <div class="col-3">
              <span *ngIf="message">{{ message }}</span>
            </div>
 
          </div>      
        </form>

        <div class="form-group">
    
          ...<span *ngIf="message">{{ message }}</span>
          ...<span *ngIf="errMessage" class="error">{{ errMessage }}</span>
        
        </div>
        
      </div>
    </mat-card-subtitle>
  </mat-card-header>
</mat-card>

<!-- Annual Expenses -->
<mat-card>
  <mat-card-header>
    <mat-card-title>Annual Expenses, {{ year }}</mat-card-title>
    <mat-card-subtitle>

      <!-- show annual expense table -->
      <div id="annual-expense" *ngIf="dataSource && expenses && expenses.length > 0">

        <!-- Content -->
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table" >
          <ng-container [matColumnDef]="col.key" *ngFor="let col of columnsSchema">
        
            <th mat-header-cell *matHeaderCellDef [ngSwitch]="col.type" >
              <span *ngSwitchCase="'hidden'"></span>
              <span *ngSwitchDefault > {{ col.label | titlecase }}</span>             
            </th>
    
            <td mat-cell *matCellDef="let element">
      
              <!-- Edit mode -->          
              <div [ngSwitch]="col.type" >
                <div class="form-input" *ngSwitchCase="'hidden'">

                </div>
                <div class="form-input" *ngSwitchCase="'read'">
                  @if (col.key === 'month'){
                    {{ element[col.key] | monthname }}
                  } @else if (col.key === 'year') {
                    '--'
                  } @else {
                    {{ element[col.key] | currency }}
                  }
                </div>
                <div class="form-input" *ngSwitchCase="'write'">
                  <textarea  
                    [(ngModel)]="element[col.key]" > 
                  </textarea>
                </div>

                <div class="form-input" *ngSwitchDefault >
                  <input  
                    [required]="col.required"
                    [pattern]="col.pattern"
                    [type]="col.type"
                    [(ngModel)]="element[col.key]" /> 
                    <!-- 
                    (change)="inputHandler($event, element.id, col.key)"-->
                </div>
              </div>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        </table>

      </div>      
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-actions>
    <div class="example-button-row" *ngIf="expenses.length > 0">
      <button class="btn btn-success"  (click)="saveAnnualExpenses()">Save Change</button>
      <button class="btn btn-secondary"  (click)="saveDataInCSV()"> Export to CSV </button>
      <button class="btn btn-danger"  (click)="delete( year )"> Delete {{ year }} </button>
    </div>    
    <div class="col-3">
      <span *ngIf="message">{{ message }}</span>
    </div>
  </mat-card-actions>
</mat-card>
<br>
</div>