.list {
  text-align: left;
  margin: inherit;
}
.input-group {
  flex-wrap: inherit;
}
::ng-deep .mat-mdc-tab-body-wrapper {
  display: grid !important;
}
li {
  span {
    font-style: italic;
    color:mediumslateblue;
    font-weight: 600;
  }
  cursor: pointer;
} 

.mat-badge-content {
  background: mediumslateblue !important;
  color: white !important;
}

