<div class="list row">
  <div class="col-md-12">
    <div class="input-group">
      <div class="form-outline">
        <mat-form-field class="example-full-width">
          <mat-label>Search by property</mat-label>
          <input type="search" matInput placeholder="ex. abell" />
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
      </div>
      <!-- Add Property on top -->
      <div class="form-outline">        
        <button class="m-3 btn btn-md btn-warning" 
                (click)="addProperty()" 
                matTooltip="Add new property">
          Add
        </button>
      </div>
    </div>
  </div>

  <!-- side property list -->
  <div class="col-md-2">
    <h4>Property List</h4>
    <ul class="list-group">
      @for (property of properties; track property.name; let i = $index) {
      <li class="list-group-item"
          [class.active]="i == currentIndex" 
          (click)="setActiveProperty(property, i)" 
          matTooltip="{{property.address}}">
        @if (property.owner && property.owner.includes('angela')) {          
          <div  matBadge="4" matBadgeOverlap="true" matBadgePosition="above after" matBadgeSize="small">
            {{ property.name }} 
            <span *ngIf="!util.isEmpty(property.builder)">{{ property.builder }}</span>
          </div>
        } @else {
          <div  matBadgeOverlap="true" >{{ property.name }} 
            <span *ngIf="!util.isEmpty(property.builder)">{{ property.builder }}</span>
          </div>
        } 
      </li>
      }
    </ul>


  </div>
  <!--  tab menus ... #docregion slow-animation-duration -->
  @if (config.user.property){

    <div class="col-md-10" >
      <mat-tab-group animationDuration="2000ms" (selectedTabChange)="tabChanged($event)">
        <!-- Property tab -->
        <mat-tab label="Property">
          <div class="col-md-12">
            <app-property [viewMode]="false" [currentProperty]="currentProperty" (isPropertyDeleted)="refreshList()"></app-property>
          </div>
        </mat-tab>
        <!-- Tenant tab -->
        <mat-tab label="Tenant" *ngIf="currentProperty.id">
          <div class="col-md-12">          
            <app-tenant [viewMode]="false" [tenant]="currentTenant" ></app-tenant>          
          </div>
        </mat-tab>
        <!-- Expense tab -->
        <mat-tab label="Expense" *ngIf="currentProperty.id">
          <div class="col-md-12">
            <app-expense [viewMode]="false" [currentPropertyName]="currentProperty.name"></app-expense>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  
  } @else {

    <div class="col-md-10" >
      <app-carousel [properties]="properties" (selectedProperty)="handlePropertyChange($event)"></app-carousel>
    </div>
  
  }

</div>