<div class="setting-form">
<article class="table-header">
  <div>
    <i>Setting drop down options on Owner & Bank options at Property Page</i>
  </div>
  <div>
    <button mat-button color="primary" (click)="ngOnInit()">
      <mat-icon>refresh</mat-icon>
    </button>    
    <button class="button-remove-rows" mat-button (click)="removeSelectedRows()">
      Remove Rows
    </button>
    <button class="button-add-row" mat-button (click)="addRow()">
      Add Row
    </button>
  </div>
</article>

<!-- Table -->
<table mat-table [dataSource]="dataSource">
  <ng-container [matColumnDef]="col.key" *ngFor="let col of columnsSchema">
    
    <th mat-header-cell *matHeaderCellDef [ngSwitch]="col.key">
      <span *ngSwitchCase="'isSelected'">
        <mat-checkbox (change)="selectAll($event)"
                      [checked]="isAllSelected()"
                      [indeterminate]="!isAllSelected() && isAnySelected()">
        </mat-checkbox>
      </span>
      <span *ngSwitchDefault>{{ col.label }}</span>
    </th>
    <!-- check box for selection -->    
    <td mat-cell *matCellDef="let element">
      <!-- View mode -->
      <div [ngSwitch]="col.type" *ngIf="!element.isEdit">
        <ng-container *ngSwitchCase="'isSelected'">
          <mat-checkbox (change)="element.isSelected = $event.checked"
                        [checked]="element.isSelected">
          </mat-checkbox>
        </ng-container>

        <div class="btn-edit" *ngSwitchCase="'isEdit'">
          <button mat-button (click)="element.isEdit = !element.isEdit">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-button
                  class="button-remove"
                  (click)="removeRow(element.id)">
            <mat-icon>delete_forever</mat-icon>       
          </button>
        </div>
        <span *ngSwitchDefault>
          {{ element[col.key] }}
        </span>
      </div>
      <!-- Edit mode -->
      <div [ngSwitch]="col.type" *ngIf="element.isEdit">
        <div *ngSwitchCase="'isSelected'"></div>
        <div class="btn-edit" *ngSwitchCase="'isEdit'">
          <button mat-button
                  (click)="editRow(element)"
                  [disabled]="disableSubmit(element.id)">
            Done
          </button>
        </div>
        <mat-form-field class="form-input" *ngSwitchCase="'dropdown'">
          <mat-select [(ngModel)]="element[col.key]" 
                      [required]="col.required"
                      [pattern]="col.pattern"                        
                      (change)="inputHandler($event, element.id, col.key)">
              @for (label of labelTypes; track label) {
                <mat-option [value]="label">{{label}}</mat-option>
              }
          </mat-select>
        </mat-form-field>

        <mat-form-field class="form-input" *ngSwitchDefault>
          <input
            matInput
            [required]="col.required"
            [pattern]="col.pattern"
            [type]="col.type"
            [(ngModel)]="element[col.key]"
            (change)="inputHandler($event, element.id, col.key)"
          />
        </mat-form-field>
      </div>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
</div>