<div class="setting-form" id="setting">
<mat-card>
  <mat-card-content>
    <article class="table-header">
      <div>
        <i>Setting drop down options on Owner & Bank options at Property Page</i>
      </div>
      <div>
        <button mat-button color="primary" (click)="ngOnInit()">
          <mat-icon>refresh</mat-icon>
        </button>    
        <button class="button-remove-rows" mat-button (click)="removeSelectedRows()">
          Remove Rows
        </button>
        <button class="button-add-row" mat-button (click)="addRow()">
          Add Row
        </button>
      </div>
    </article>
    
    <!-- Table for label dictionary -->
    <table mat-table [dataSource]="dataSource">
      <ng-container [matColumnDef]="col.key" *ngFor="let col of columnsSchema">
        
        <th mat-header-cell *matHeaderCellDef [ngSwitch]="col.key">
          <span *ngSwitchCase="'isSelected'">
            <mat-checkbox (change)="selectAll($event)"
                          [checked]="isAllSelected()"
                          [indeterminate]="!isAllSelected() && isAnySelected()">
            </mat-checkbox>
          </span>
          <span *ngSwitchDefault > {{ col.label }}</span>
        </th>

        <!-- check box for selection -->    
        <td mat-cell *matCellDef="let element">
          <!-- View mode  {{ element | json }} -->
          <div [ngSwitch]="col.type" *ngIf="!element.isEdit" >
            <ng-container *ngSwitchCase="'isSelected'">
              <mat-checkbox (change)="element.isSelected = $event.checked"
                            [checked]="element.isSelected">
              </mat-checkbox>
            </ng-container>
    
            <div class="btn-edit" *ngSwitchCase="'isEdit'" >
              @if ( ['Hour', 'Minute', 'Days'].includes(element.viewValue) ) {
                <button mat-button matTooltip="Use Email batch startup time picker at bottom">
                  <mat-icon>stop</mat-icon>
                </button>
              } @else {
                <button mat-button (click)="element.isEdit = !element.isEdit" matTooltip="Edit">
                  <mat-icon>edit</mat-icon>
                </button>
              }
              <button mat-button
                      class="button-remove"
                      (click)="removeRow(element.id)" matTooltip="Delete">
                <mat-icon>delete_forever</mat-icon>       
              </button>
            </div>
            <span *ngSwitchDefault matTooltip="{{element.hint}}" >
              {{ element[col.key] }} 
            </span>
          </div>
          <!-- Edit mode -->          
          <div [ngSwitch]="col.type" *ngIf="element.isEdit">
            <ng-container *ngSwitchCase="'isSelected'"></ng-container>
            <div class="btn-edit" *ngSwitchCase="'isEdit'">
              <button mat-button
                      (click)="saveRow(element)"
                      [disabled]="disableSubmit(element.id)"
                      matTooltip="Save">
                      <mat-icon>save</mat-icon>
              </button>
              <button mat-button
                      (click)="element.isEdit = false"
                      [disabled]="disableSubmit(element.id)"
                      matTooltip="Cancel">
                      <mat-icon>cancel</mat-icon>
              </button>
            </div>
            <div class="" *ngSwitchCase="'dropdown'">
              <mat-select [(ngModel)]="element[col.key]" 
                          [required]="col.required"
                          [pattern]="col.pattern"                        
                          (change)="inputHandler($event, element.id, col.key)">
                  @for (label of labelTypes; track label) {
                    <mat-option [value]="label" style="font-size: x-small; padding-left: 9px;">{{label}}</mat-option>
                  }
              </mat-select>
            </div>

            <div class="form-input" *ngSwitchCase="'number'">
              {{ element[col.key] }} 
            </div>

            <div class="form-input" *ngSwitchDefault>
              
                <input  matInput
                        [required]="col.required"
                        [pattern]="col.pattern"
                        [type]="col.type"
                        [(ngModel)]="element[col.key]"
                        (change)="inputHandler($event, element.id, col.key)" /> 
              
            </div>
          </div>
           
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </mat-card-content>
</mat-card>

<!-- Batch control input -->
<mat-card>
  <mat-card-content class="batch-input">
    <mat-form-field appearance="outline">
      <mat-label>Email batch startup time picker</mat-label>
      <input matInput [(ngModel)]="time" [ngxMatTimepicker]="picker"  [format]="24">
      <ngx-mat-timepicker #picker (timeSet)="onTimeSet($event)"></ngx-mat-timepicker>
    </mat-form-field>
                           
    <mat-form-field appearance="outline">
      <mat-label>Notice Days</mat-label>
      <input matInput
             required      
             type="number"
             [(ngModel)]="dueDays"
             (change)="onDueDaysChanged()" /> 
    </mat-form-field>
  </mat-card-content>
</mat-card>
    ...<span *ngIf="message">{{ message }}</span>
    ...<span *ngIf="errMessage" class="error">{{ errMessage }}</span>
</div>