#documents {
  p {
    font-family: Lato;
  }
  table {
    width: 90%;
    margin: auto;
    margin-top: 25px;
  }
  .btn-edit {
    text-align: right;
  }
  h2 {
    text-align: center;
    padding-top: 20px;
  }
  .demo-table {
    width: 100%;
  }
  
  .demo-button-container {
    padding-bottom: 16px;
    display: flex;
  }
  
  .demo-button + .demo-button {
    margin-left: 8px;
  }
}
