
<nav class="navbar navbar-expand navbar-dark bg-dark">
  <a routerLink="properties"  class="navbar-brand"><mat-icon>home</mat-icon></a>

  <div class="navbar-nav mr-auto" >
    <li class="nav-item">
      <a routerLink="overview" class="nav-link">Overview</a>
    </li>
    <li class="nav-item">
      <a routerLink="properties" class="nav-link">Properties</a>
    </li>   
    <li class="nav-item">
      <a routerLink="users" class="nav-link">Users</a>
    </li>         
    
    <li class="nav-item" >      
      <button mat-button class="nav-link" [matMenuTriggerFor]="menu" #menuTrigger><mat-icon>person_pin</mat-icon></button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="openDialog()"><pre>{{ config.user | json }} </pre></button>
      </mat-menu>
    </li>    
    <li class="nav-item">
      {{isLogged}}<a href="#" class="navbar-brand" (click)="logout()" matTooltip="Log out"><mat-icon>exit_to_app</mat-icon></a>                
    </li>
    
    <!-- setting icon on top right corner -->
    <li class="nav-item" style="position:fixed; right: 0;">
      <a routerLink="settings" class="nav-link" ><mat-icon>settings</mat-icon></a>
    </li>
    
  </div>
</nav>