<div class="edit-form" id="property">
  <div class="form-group">
    <h4 class="button-space">{{ currentProperty.name | titlecase }}</h4>

      <button  class="btn btn-primary"  (click)="viewMode = true">
        View
      </button>
      <!-- Button , Cancel, Delete, Save -->
      
      <div *ngIf="!viewMode" class=" button-space"  style="display: flex">      
          <button class="btn btn-info" (click)="viewMode = true" matTooltip="Cancel Changes"> Cancel </button>
          <button *ngIf="currentProperty.id" class="btn btn-danger" (click)="onDeleteClicked()" matTooltip="Delete Property"> Delete </button>     
          <button type="submit" class="btn btn-success" (click)="save()" matTooltip="Save Property"> Save Change </button>
      </div>

    <button class="btn btn-secondary"  
            (click)="print()"> Print </button>
  </div>
  <div class="form-group">
    
    ...<span *ngIf="message">{{ message }}</span>
    ...<span *ngIf="errMessage" class="error">{{ errMessage }}</span>
  
  </div>
  <form *ngIf="!util.isBlank(currentProperty)"> 
    <!-- Property Name, ID, Owner -->
    <div class="form-group">
      <!-- (Property) Name -->
      <mat-form-field class="edit-form-field">
        <mat-label>Name</mat-label>
        <input id="name" matInput type="text" [(ngModel)]="currentProperty.name" name="name" [readonly]="viewMode" />
        @if (currentProperty.name && !viewMode) {
        <button matSuffix mat-icon-button aria-label="Clear" (click)="currentProperty.name = ''">
          <mat-icon>close</mat-icon>
        </button>
        }
      </mat-form-field>
      <!-- ID -->
      <mat-form-field class="edit-form-field">
        <mat-label>ID</mat-label>
        <input id="id" matInput type="text" [(ngModel)]="currentProperty.id" name="id" [readonly]="true" />
      </mat-form-field>

      <mat-form-field class="edit-form-field">
        <mat-label>Owner</mat-label>
        <mat-select id="owner" [(ngModel)]="currentProperty.owner" name="owner" [disabled]="viewMode" multiple>
          @for (owner of config.owners; track owner) {
            <mat-option [value]="owner.value">{{owner.viewValue}}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>

    <!-- Address, Builder, URL -->
    <div class="form-group">
      <!-- Address -->
      <mat-form-field class="edit-form-field">
        <mat-label>Address</mat-label>
        <input id="address" matInput type="text" [(ngModel)]="currentProperty.address" name="address"
          [readonly]="viewMode" />
        @if (currentProperty.address && !viewMode) {
        <button matSuffix mat-icon-button aria-label="Clear" (click)="currentProperty.address = ''">
          <mat-icon>close</mat-icon>
        </button>
        }
      </mat-form-field>
      <!-- Builder/Condo Management Company -->
      <mat-form-field class="edit-form-field">
        <mat-label>Builder</mat-label>
        <input id="builder" matInput type="text" [(ngModel)]="currentProperty.builder" name="builder"
          [readonly]="viewMode" />
        @if (currentProperty.builder && !viewMode) {
        <button matSuffix mat-icon-button aria-label="Clear" (click)="currentProperty.builder = ''">
          <mat-icon>close</mat-icon>
        </button>
        }
      </mat-form-field>
      <!-- Photo URL -->
      <mat-form-field class="edit-form-field">
        <mat-label>Photo</mat-label>
        <input id="imageUrl" matInput type="text" [(ngModel)]="currentProperty.imageUrl" name="imageUrl"
          [readonly]="viewMode" />
        @if (currentProperty.imageUrl && !viewMode) {
        <button matSuffix mat-icon-button aria-label="Clear" (click)="currentProperty.imageUrl = ''">
          <mat-icon>close</mat-icon>
        </button>
        }
      </mat-form-field>      
      
    </div>
    <!-- Property Tax::  Roll No, TSCC, Customer No, -->
    <div class="form-group">
      <!-- Tax Roll # -->
      <mat-form-field class="edit-form-field" >
        <mat-label>Property Tax Roll #</mat-label>
        <input id="rollNo" matInput type="text" [(ngModel)]="currentProperty.rollNo" name="rollNo"
          [readonly]="viewMode" />
        @if (currentProperty.rollNo && !viewMode) {
        <button matSuffix mat-icon-button aria-label="Clear" (click)="currentProperty.rollNo = ''">
          <mat-icon>close</mat-icon>
        </button>
        }
      </mat-form-field>
      <!-- Tax Customer # -->
      <mat-form-field class="edit-form-field">
        <mat-label>Property Tax Customer #</mat-label>
        <input id="propertyCustomerNo" matInput type="text" [(ngModel)]="currentProperty.propertyCustomerNo"
          name="propertyCustomerNo" [readonly]="viewMode" />
        @if (currentProperty.propertyCustomerNo && !viewMode) {
        <button matSuffix mat-icon-button aria-label="Clear" (click)="currentProperty.propertyCustomerNo = ''">
          <mat-icon>close</mat-icon>
        </button>
        }
      </mat-form-field>    

      <!-- TSCC -->
      <mat-form-field class="edit-form-field">
        <mat-label>TSCC</mat-label>
        <input id="tscc" matInput type="text" [(ngModel)]="currentProperty.tscc" name="tscc" [readonly]="viewMode" />
        @if (currentProperty.tscc && !viewMode) {
        <button matSuffix mat-icon-button aria-label="Clear" (click)="currentProperty.tscc = ''">
          <mat-icon>close</mat-icon>
        </button>
        }
      </mat-form-field>      
      <!-- Property Tax -->
      <mat-form-field class="edit-form-field" appearance="fill" matTooltip="Toronto Property Tax keeps Two-instalment plan: Interim: March 1. Final bill: July 2" >
        <mat-label>Property Tax</mat-label>        
        <input id="propertyTax" 
               matInput 
               type="text" 
               [(ngModel)]="currentProperty.propertyTax" 
               name="propertyTax"
               [readonly]="viewMode" 
               currencyMask />
        @if (currentProperty.propertyTax && !viewMode) {
        <button matSuffix mat-icon-button aria-label="Clear" (click)="currentProperty.propertyTax = 0">
          <mat-icon>close</mat-icon>
        </button>
        }
      </mat-form-field>       
      
    </div>

    <!-- Insurance: Company, Policy #, Fee, size -->
    <div class="form-group">

      <!-- Insurance Company -->
      <mat-form-field class="edit-form-field">
        <mat-label>Insurance Company</mat-label>
        <mat-select id="insuranceCompany" [(ngModel)]="currentProperty.insuranceCompany" name="insuranceCompany" [disabled]="viewMode">
          @for (insuranceCompany of config.insuranceCompanies; track insuranceCompany) {
            <mat-option [value]="insuranceCompany.value">{{insuranceCompany.viewValue}}</mat-option>
          }
        </mat-select>
      </mat-form-field>

      <!-- Policy # -->
      <mat-form-field class="edit-form-field">
        <mat-label>Policy #</mat-label>
        <input id="policyNo" matInput type="text" [(ngModel)]="currentProperty.policyNo"
          name="policyNo" [readonly]="viewMode" />
        @if (currentProperty.policyNo && !viewMode) {
        <button matSuffix mat-icon-button aria-label="Clear" (click)="currentProperty.policyNo = ''">
          <mat-icon>close</mat-icon>
        </button>
        }
      </mat-form-field>   

      <!-- Insurance Fee -->
      <mat-form-field class="edit-form-field" appearance="fill">
        <mat-label>Insurance Fee</mat-label>        
        <input id="insuranceFee" 
                matInput 
                type="text" 
                [(ngModel)]="currentProperty.insuranceFee" 
                name="insuranceFee"
                [readonly]="viewMode" 
                currencyMask />
        @if (currentProperty.insuranceFee && !viewMode) {
        <button matSuffix mat-icon-button aria-label="Clear" (click)="currentProperty.insuranceFee = 0">
          <mat-icon>close</mat-icon>
        </button>
        }
      </mat-form-field>
      <mat-form-field class="edit-form-field">
        <mat-label>Size (sq)</mat-label>
        <span matSuffix>sq ft</span>
        <input id="size" matInput type="text" [(ngModel)]="currentProperty.size" name="size" [readonly]="viewMode" />
        @if (currentProperty.size && !viewMode) {
        <button matSuffix mat-icon-button aria-label="Clear" (click)="currentProperty.size = 0">
          <mat-icon>close</mat-icon>
        </button>
        }
      </mat-form-field>
    </div>

    <!-- Occupancy, Closing Dates -->
    <div class="form-group">
      <mat-form-field class="edit-form-field">
        <mat-label>Occupancy Date</mat-label>
        <input matInput 
               [matDatepicker]="occupancyDatePicker"
               id="occupancyDate" 
               [(ngModel)]="currentProperty.occupancyDate" 
               name="occupancyDate"
               [disabled]="viewMode" >
        <mat-hint>YYYY-MM-DD</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="occupancyDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #occupancyDatePicker></mat-datepicker>
      </mat-form-field>      

      <mat-form-field class="edit-form-field">
        <mat-label>Closing Date</mat-label>
        <input matInput 
               [matDatepicker]="closingDatePicker"
               id="closingDate" 
               [(ngModel)]="currentProperty.closingDate" 
               name="closingDate"
               [disabled]="viewMode" >
        <mat-hint>YYYY-MM-DD</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="closingDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #closingDatePicker></mat-datepicker>
      </mat-form-field>      

      <mat-form-field class="edit-form-field">
        <mat-label>Sales Date</mat-label>
        <input matInput 
               [matDatepicker]="salesDatePicker"
               id="salesDate" 
               [(ngModel)]="currentProperty.salesDate" 
               name="salesDate"
               [disabled]="viewMode" >
        <mat-hint>YYYY-MM-DD</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="salesDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #salesDatePicker></mat-datepicker>
      </mat-form-field>            
    </div>

    <!-- Start , End , Extended End Dates -->
    <div class="form-group">
      <mat-form-field class="edit-form-field">
        <mat-label>Lease Start Date</mat-label>
        <input matInput 
               [matDatepicker]="startDatePicker"
               id="startDate" 
               [(ngModel)]="currentProperty.startDate" 
               name="startDate"
               [disabled]="viewMode" >
        <mat-hint>YYYY-MM-DD</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="startDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #startDatePicker (closed)="onStartDateClose()"></mat-datepicker>
      </mat-form-field>     
      <mat-form-field class="edit-form-field">
        <mat-label>Lease End Date</mat-label>
        <input matInput 
               [matDatepicker]="endDatePicker"
               id="endDate" 
               [(ngModel)]="currentProperty.endDate" 
               name="endDate"
               [disabled]="viewMode" >
        <mat-hint>YYYY-MM-DD</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="endDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #endDatePicker></mat-datepicker>
      </mat-form-field>

      <mat-form-field class="edit-form-field" style="display: flex;" matTooltip="It will extend one more year upon your clicking on this calendar. Leave this entry blank if new extention is not confirmedd">
        <mat-label>Extended Lease End Date</mat-label>
        <input matInput 
               [matDatepicker]="extendedEndDatePicker"
               id="extendedEndDate" 
               [(ngModel)]="currentProperty.extendedEndDate" 
               name="extendedEndDate"
               (click)="onExtendedDateFocused($event)"
               [disabled]="viewMode" >
        <mat-hint>YYYY-MM-DD</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="extendedEndDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #extendedEndDatePicker ></mat-datepicker>
      </mat-form-field>      
    </div>

    <div class="form-group">
      <!-- Rent -->
      <mat-form-field class="edit-form-field" appearance="fill">
        <mat-label>Rent Fee</mat-label>        
        <input id="rentFee" 
               matInput 
               type="text" 
               [(ngModel)]="currentProperty.rentFee" 
               name="rentFee"
               [readonly]="viewMode" 
               currencyMask />
        @if (currentProperty.rentFee && !viewMode) {
        <button matSuffix mat-icon-button aria-label="Clear" (click)="currentProperty.rentFee = 0">
          <mat-icon>close</mat-icon>
        </button>
        }
      </mat-form-field>
      <!-- Management Fee-->
      <mat-form-field class="edit-form-field" appearance="fill">
        <mat-label>Management Fee</mat-label>        
        <input id="managementFee" 
               matInput 
               type="text" 
               [(ngModel)]="currentProperty.managementFee" 
               name="managementFee"
               [readonly]="viewMode" 
               currencyMask />
        @if (currentProperty.managementFee && !viewMode) {
        <button matSuffix mat-icon-button aria-label="Clear" (click)="currentProperty.managementFee = 0">
          <mat-icon>close</mat-icon>
        </button>
        }
      </mat-form-field>
      <!-- Purchase Date -->
      <mat-form-field class="edit-form-field">
        <mat-label>Purchase Date</mat-label>
        <input matInput 
               [matDatepicker]="purchaseDatePicker"
               id="purchaseDate" 
               [(ngModel)]="currentProperty.purchaseDate" 
               name="purchaseDate"
               placeholder="YYYY-MM-DD"
               [disabled]="viewMode" >
        
        <mat-datepicker-toggle matIconSuffix [for]="purchaseDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #purchaseDatePicker></mat-datepicker>
      </mat-form-field>      
      <!-- Purchase Price -->
      <mat-form-field class="edit-form-field">
        <mat-label>Purchase Price</mat-label>
        <input id="purchasePrice" 
               matInput 
               type="text" 
               [(ngModel)]="currentProperty.purchasePrice" 
               name="purchasePrice"
               [readonly]="viewMode" 
               currencyMask />
        @if (currentProperty.purchasePrice && !viewMode) {
        <button matSuffix mat-icon-button aria-label="Clear" (click)="currentProperty.purchasePrice = 0">
          <mat-icon>close</mat-icon>
        </button>
        }
      </mat-form-field>
    </div>

    <!-- condo management contact -->
    <div class="form-group">
      <!-- conciergePhone # -->
      <mat-form-field class="edit-form-field">
        <mat-label>Concierge Phone #</mat-label>
        <input id="conciergePhone" matInput type="text" [(ngModel)]="currentProperty.conciergePhone"
          name="conciergePhone" [readonly]="viewMode" (blur)="onConciergePhoneChanged($event)"/>
        @if (currentProperty.conciergePhone && !viewMode) {
        <button matSuffix mat-icon-button aria-label="Clear" (click)="currentProperty.conciergePhone = ''">
          <mat-icon>close</mat-icon>
        </button>
        }
      </mat-form-field>   
      <!-- managementPhone # -->
      <mat-form-field class="edit-form-field">
        <mat-label>Management Phone #</mat-label>
        <input id="managementPhone" matInput type="text" [(ngModel)]="currentProperty.managementPhone"
          name="managementPhone" [readonly]="viewMode" (blur)="onManagementPhoneChanged($event)"/>
        @if (currentProperty.managementPhone && !viewMode) {
        <button matSuffix mat-icon-button aria-label="Clear" (click)="currentProperty.managementPhone = ''">
          <mat-icon>close</mat-icon>
        </button>
        }
      </mat-form-field>         

      <!-- managementEmail # -->
      <mat-form-field class="edit-form-field">
        <mat-label>Management Email</mat-label>
        <input id="managementEmail" matInput type="text" [(ngModel)]="currentProperty.managementEmail"
          name="managementEmail" [readonly]="viewMode" />
        @if (currentProperty.managementEmail && !viewMode) {
        <button matSuffix mat-icon-button aria-label="Clear" (click)="currentProperty.managementEmail = ''">
          <mat-icon>close</mat-icon>
        </button>
        }
      </mat-form-field>               
    </div>

    <br>


    <!-- comment -->
    <div class="form-group">
      <mat-form-field class="edit-form-field">
        <mat-label>Comment</mat-label>
        <textarea id="comment" matInput [(ngModel)]="currentProperty.comment" name="comment"
          [readonly]="viewMode"></textarea>
        @if (currentProperty.comment && !viewMode) {
        <button matSuffix mat-icon-button aria-label="Clear" (click)="currentProperty.comment = ''">
          <mat-icon>close</mat-icon>
        </button>
        }
      </mat-form-field>
    </div>

    <!-- Documents -->    
    <app-document *ngIf="currentProperty.id" [propertyName]="currentProperty.name"></app-document>
  </form>
</div>

